@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
  width: 100dvw;
  margin: 0;
  padding: 0;
  text-align: left;
}

#root {
  display: grid;
  height: 100%;
  width: 100dvw;
  grid-template-rows:80px 1fr 300px; 
}